main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 0;
    padding: 0;
    width: 100vw;
  }

main h1 {
    font-size: 1.2rem;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
    margin-top: 5vh;
}

.movies {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-y: hidden;
}

.movies-left-arrow {
    text-align: right;
    height: 100%;
    max-height: 100%;
    width: 2vw;
    margin-bottom: 4.6vh;
    user-select: none;
    align-content: center;
    cursor: pointer;
}

.movies-right-arrow {
    text-align: right;
    height: 100%;
    max-height: 100%;
    width: 2vw;
    margin-bottom: 4.6vh;
    user-select: none;
    align-content: center;
    transform: scaleX(-1);
    cursor: pointer;
}

.movies-container {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-direction: row;
}

.movies-container img {
    height: 25vh;
    width: 17vh;
    object-position: center;
    object-fit: cover;
}

.movies-container-div {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin: 0 1vw;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.first-movie {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin-right: 1vw;
    text-align: center;
    cursor: pointer;
}

.last-movie {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    text-align: center;
    cursor: pointer;
}

.cinemas {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-y: hidden;
}

.cinemas-left-arrow {
    text-align: right;
    height: 100%;
    max-height: 100%;
    width: 2vw;
    margin-bottom: 4.6vh;
    user-select: none;
    align-content: center;
    cursor: pointer;
}

.cinemas-right-arrow {
    text-align: right;
    height: 100%;
    max-height: 100%;
    width: 2vw;
    margin-bottom: 4.6vh;
    user-select: none;
    align-content: center;
    transform: scaleX(-1);
    cursor: pointer;
}

.cinemas-container {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-direction: row;
}

.cinemas-container img {
    height: 19vh;
    width: 28vh;
    object-position: center;
    object-fit: cover;
}

.cinemas-container-div {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin: 0 1vw;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.first-cinema {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin-right: 1vw;
    text-align: center;
    cursor: pointer;
}

.last-cinema {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    text-align: center;
    cursor: pointer;
}
  
@media screen and (min-width: 768px) {
    .movies-container img {
        height: 32vh;
        width: 22vh;
    }

    .first-movie {
        margin-right: 0.5vw;
        margin-left: 0;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .last-movie {
        margin-left: 0.5vw;
        margin-right: 0;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .movies-container-div {
        padding: 15px 0;
        margin: 0 0.5vw;
    }

    .movies-container-div:hover {
        transform: scale(1.08);
        transition: transform 0.3s ease;
    }

    
    .first-movie:hover {
        transform: scale(1.08);
        transition: transform 0.3s ease;
    }

    .last-movie:hover {
        transform: scale(1.08);
        transition: transform 0.3s ease;
    }

    .movies-left-arrow:hover {
        background: linear-gradient(180deg, black, black, rgba(255, 255, 255, 0.150), rgba(255, 255, 255, 0.150), black, black);
    }

    .movies-right-arrow:hover {
        background: linear-gradient(180deg, black, black, rgba(255, 255, 255, 0.150), rgba(255, 255, 255, 0.150), black, black);
    }

    .cinemas-container-div {
        padding: 15px 0;
        margin: 0 0.5vw;
    }

    .cinemas-container-div:hover {
        transform: scale(1.08);
        transition: transform 0.3s ease;
    }

    .cinemas-left-arrow:hover {
        background: linear-gradient(180deg, black, black, rgba(255, 255, 255, 0.150), rgba(255, 255, 255, 0.150), black, black);
    }

    .cinemas-right-arrow:hover {
        background: linear-gradient(180deg, black, black, rgba(255, 255, 255, 0.150), rgba(255, 255, 255, 0.150), black, black);
    }

    .first-cinema {
        margin-right: 0.5vw;
        margin-left: 0;
        padding: 15px 0;
    }

    .last-cinema {
        margin-left: 0.5vw;
        margin-right: 0;
        padding: 15px 0;
    }

    .first-cinema:hover {
        transform: scale(1.08);
        transition: transform 0.3s ease;
    }

    .last-cinema:hover {
        transform: scale(1.08);
        transition: transform 0.3s ease;
    }


    main h1 {
        font-size: 1.4rem;
        margin-top: 2vh;
    }

}