main {
    padding: 0;
    width: 100vw;
  }

.movie {
    display: flex;
    width: 100%;
    flex-direction: column;

}

.movie-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.movie-info-poster {
    display: flex;
    justify-content: center;
    width: 100%;
}

.movie-info-poster-image {
    margin-top: 3vh;
    height: 90vw;
    width: 61.875vw;
    object-position: center;
    object-fit: cover;
}

.movie-info-description {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.movie-info-description-title {
    text-align: center;
}

.movie-info-description-text {
    text-align: center;
    font-size: 0.85rem;
    padding: 0 7vw;
    margin: 0;
    line-height: 1.4;
}

.movie-rating {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 2vh;
    line-height: 1.1;
}

.movie-rating-header {
    margin: 0;
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
}

.movie-rating-score {
    margin: 0;
    color: #EC4701;
    font-size: 3.3rem;
    font-weight: 800;
}

.movie-rating-users {
    margin-top: 0;
    margin-bottom: 1vh;
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
}

.cinemas-section {
    width: 100vw;
}

.cinema-section-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.cinemas-section-title {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 0.5vh;
}

.cinemas {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-y: hidden;
}

.cinemas-left-arrow {
    text-align: center;
    height: 7vw;
    max-height: 7vw;
    width: 5vw;
    margin-bottom: 4.6vh;
    user-select: none;
    align-content: center;
    cursor: pointer;
    display: none;
}

.cinemas-right-arrow {
    text-align: center;
    height: 7vw;    
    max-height: 7vw;
    width: 5vw;
    margin-bottom: 4.6vh;
    user-select: none;
    align-content: center;
    transform: scaleX(-1);
    cursor: pointer;
    display: none;
}

.cinemas-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5vw;
    margin-bottom: 2rem;
}

.cinemas-container img {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: 10px;
    align-self: center;
}

.cinemas-container-div {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-top: 1rem;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    align-items: center;
    cursor: pointer;
    width: 48%;
    height: 32vw;
}

.first-cinema {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-top: 1rem;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    align-items: center;
    cursor: pointer;
    width: 48%;
    height: 32vw;
}

.last-cinema {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-top: 1rem;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    align-items: center;
    cursor: pointer;
    width: 48%;
    height: 32vw;
}

.cinemas-times {
    display: flex;
    width: 80%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vw;
    margin-bottom: 5vw;
    border-radius: 10px;
    background-color: #1b1b1b;
}

.session-info {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.session-info-column {
    display: flex;
    flex-direction: column;
}

.session-info-column p {
    margin: 0.5vh 0;
}

.cinemas-times h1 {
    font-size: 1.25rem;
    margin-bottom: 1vh;
    margin-top: 2vh;
    margin-left: 6%;
    margin-right: 6%;
    padding-bottom: 5px;
    width: 88%;
    text-align: center;
    border-bottom: 2px solid rgb(98, 98, 98);
}
  
@media screen and (min-width: 768px) {

    main {
        display: flex;
        margin-top: 2vh;
    }

    .movie {
        width: 50%;
    }

    .movie-info {
        flex-direction: row;    }

    .movie-info-poster {
        width: 50%;
        justify-content: flex-end;
    }
    
    .movie-info-poster-image {
        width: 20vw;
        height: 29.09vw;
        object-position: center;
        object-fit: cover;
        margin-left: 20%;
    }
    
    .movie-info-description {
        width: 50%;
        margin-top: 3vh;
        justify-content: start;
    }

    .movie-info-description-title {
        font-size: 1.6rem;
        text-align: start;
        width: 75%;
        margin-bottom: 2vh;
        margin-left: 5%;
        margin-top: 0;
    }

    .movie-info-description-text {
        font-size: 0.9rem;
        text-align: start;
        width: 75%;
        height: 26vw;
        padding: 0;
        margin: 0 5%;
        overflow: scroll;
    }

    .cinemas-section {
        display: flex;
        flex-direction: column;
        width: 45%;
        margin-top: 3vh;
        padding-bottom: 5vh;
        height: 70vh;
    }

    .cinemas-section-title {
        margin: 0;
        padding: 0;
        text-align: start;
        font-size: 1.4rem;
    }

    .cinema-section-content {
        flex-direction: column;
        background-color: #1b1b1b;
        border-radius: 10px;
        padding-top: 2vh;
        margin-top: 2vh;
        width: 100%;
        height: 100%;
    }

    .cinemas {
        width: 100%;
        align-items: flex-start;
    }

    .cinemas-container-div {
        padding: 15px 0;
        margin: 0 0.5vw;
        width: auto;
        height: auto;
    }

    .cinemas-container {
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 0;
        font-size: 0.9rem;
        justify-content: flex-start;
    }

    .cinemas-container-div:hover {
        transform: scale(1.08);
        transition: transform 0.3s ease;
    }

    .cinemas-container img {
        height: 7.9vw;
        width: 11.6vw;
    }

    .cinemas-left-arrow {
        display: block;
    }

    .cinemas-left-arrow:hover {
        background: linear-gradient(180deg, #1b1b1b, rgba(255, 255, 255, 0.150), rgba(255, 255, 255, 0.150), #1b1b1b);
    }

    .cinemas-right-arrow {
        display: block;
    }

    .cinemas-right-arrow:hover {
        background: linear-gradient(180deg, #1b1b1b, rgba(255, 255, 255, 0.150), rgba(255, 255, 255, 0.150), #1b1b1b);
    }

    .first-cinema {
        margin-right: 0.5vw;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding: 15px 0;
        width: auto;
        height: auto;
    }

    .last-cinema {
        margin-left: 0.5vw;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding: 15px 0;
        width: auto;
        height: auto;
    }

    .first-cinema:hover {
        transform: scale(1.08);
        transition: transform 0.3s ease;
    }

    .last-cinema:hover {
        transform: scale(1.08);
        transition: transform 0.3s ease;
    }

    .cinemas-times {
        width: 100%;
        text-align: center;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0;
        margin-bottom: 5vh;
        border-radius: 0px;
        background-color: #00000000;
    }

    .cinemas-times h1 {
        font-size: 1.4rem;
    }
}